body {
    padding: 20px;
    margin: 20px;
    background-image: url("../images/coffee-beans-1082116_1280.jpg");
    background-size: cover;
    color: antiquewhite;
}

.breadcrumb-item a {
    color: black;
    font-size: 18px;
    background-color:#6c313f;
    border:1px solid #660000;
    border-radius:10px;
    color:#fff;
    margin-right:10px;
    padding:10px 10px 10px 10px;
}

.button-style {
    border-radius:10px;
    color:#fff;
    margin-right:10px;
    padding:10px 10px 10px 10px;
}

#details-button {
    background-color: #b1b0b1;
    border:1px solid #660000;
}

#add-button {
    background-color:#e35681;
    border:1px solid #660000;
}

#delete-button {
    background-color:#cc0000;
    border:1px solid #660000;
}

#edit-button {
    background-color:#6c313f;
    border:1px solid #660000;
}

#roast-details, div {
    padding: 8px;
}

label {
    padding: 7px;
}

h1 {
    padding: 30px;
}

td, th {
    padding: 20px;
}

#roast-details {
    margin: 20px;
    padding: 15px;
}

