body {
    padding: 20px;
    margin: 20px;
    display: cover;
    background-image: url("../images/coffee-beans-1082116_1280.jpg");
    color: antiquewhite;
}

h1 {
    padding: 30px;
}

td {
    padding: 10px;
}

.edit-roast {
    color: honeydew;
}


#roast-details {
    margin: 20px;
    padding: 15px;
}

.breadcrumb-item a {
    color: black;
    font-size: 18px;
}

a {
    text-decoration:none;
    color:#cc0000;
}

a.breadcrumb-item, ol.breadcrumb, .bs-example, nav{
    float:left;
}

a.breadcrumb-item {
    background-color:#cc0000;
    border:1px solid #660000;
    border-radius:5px;
    color:#fff;
    margin-right:10px;
    padding:10px 10px 10px 10px;
}

ol.breadcrumb, .bs-example {
    width:100%;
    clear:both;
}