<%- include('../partials/header') %>

<h1>Welcome to Coffee Roast Log</h1>
<p>This is a place to add your coffee roasting logs and review other roasting logs. 
    All types of roasters are welcome. This all started as a way to save a little bit of
    money and time by roasting your own coffee beans at home. </p>
 
<%- include('../partials/footer') %>

