<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap 4 Breadcrumb</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    .bs-example{
        margin: 20px;        
    }
</style>
</head>
<body>
<div class="bs-example">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Add Roast Log</a></li>
            <li class="breadcrumb-item active">View Roast Log</li>
        </ol>
    </nav>
</div>
<div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
    <a href="" class="brand-logo left">Coffee Roasting Log</a>
     <!-- new html below -->
     <ul class="right">
                <li>
        <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
        <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
        <% } %>
                </li>
             </ul>
        </div>
    </nav>
</div>
</body>
</html>                  