<%- include('../partials/header') %>

<h1>Add Roast Log</h1>
<form id="new-form" action="/roasts" method="POST">
  <label>Name/Origin:</label>
      <input type="text" name="roastName" required>
  <label>Date of Roast:</label>
      <input name="roastDate" type="datetime-local" required>
  <label>Total Roast Time:</label>
      <input name="roastTime" type="number" required>
  <label>Roast Type:</label>
      <select name="roastType">
          <option value="City">City</option>
          <option value="City+">City+</option>
          <option value="Full City">Full City</option>
          <option value="Full City+">Full City+</option>
          <option value="Vienna Roast">Vienna Roast</option>
          <option value="Full French">Full French</option>
          <option value="Full Carbonized">Full Carbonized</option>
      </select>
  <label>Temperature:</label>
      <select name="temp">
          <option value="high">high</option>
          <option value="med">med</option>
          <option value="low">low</option>
          <option value="other">other</option>
      </select>
  <label>Fan Speed:</label>
      <select name="fanSpeed">
          <option value="high">high</option>
          <option value="med">med</option>
          <option value="low">low</option>
          <option value="other">other</option>
      </select>
  <label>Yellowing Time(minutes):</label>
      <input name="yellowTime" type="number" min="1" max="60">
  <label>Browning Time(minutes):</label>
      <input name="brownTime" type="number" min="1" max="60">
  <label>First Crack Start Time(minutes):</label>
      <input name="firstCrkStart" type="number" min="1" max="60">
  <label>First Crack End Time(minutes):</label>
      <input name="firstCrkEnd" type="number" min="1" max="60">
  <h3>Roasting Method:</h3>
  <label>Air Roaster:</label>
      <select name="airRoaster">
          <option value="Electric Popcorn Popper">Electric Popcorn Popper</option>
          <option value="Fresh Roast SR300">Fresh Roast SR500</option>
          <option value="Other">Other</option>
          <option selected value="none">--</option>
      </select>
  <label>Drum Roaster:</label>
      <select name="drumRoaster">
          <option value="Behmore 1600PLUS">Behmore 1600PLUS</option>
          <option value="Gene Cafe Roaster">Gene Cafe Roaster</option>
          <option value="Aillio Bullet R1">Aillio Bullet R1</option>
          <option value="Hot Top Basic">Hot Top Basic</option>
          <option value="Other">Other</option>
          <option selected value="none">--</option>
      </select>
  <label>Stove Roaster:</label>
      <select name="stoveRoaster">
          <option value="Wok">Wok</option>
          <option value="Pan">Pan</option>
          <option value="Other">Other</option>
          <option selected value="none">--</option>
      </select>
        <label>Now Sharing:</label>
            <input type="checkbox" name="nowSharing" checked>
    
    <input type="submit" value="Add Roast Log">
</form>
  
<%- include('../partials/footer') %>
